*{
    margin: 0;
    padding: 0;
}
div{
    background-color: rgb(1, 2, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span{
    font-family: 'waltograph';
    font-size: 13em;
    color: aliceblue;
}
/* Waltograph - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'waltograph';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/waltograph42.otf'), /* IE9 Compat Modes */
     url('../fonts/waltographUI.ttf'); /* IE6-IE8 */
  }