@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.txt1{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 5em;
    margin-top: 20px;
    color: white;
}
a{
    color: transparent;
}
ul{
    position: relative;
    display: flex;
    gap: 40px;
    background-color: black;
}
ul li{
    position: relative;
    list-style: none;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0 15px 35px rgb(0, 0, 0, .1);
    cursor: pointer;
}
ul li .fa-brands{
    font-size: 6em;
    -webkit-text-stroke: 2px var(--clr);
    color: transparent;
}
ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-bottom: 4px solid var(--clr);
    transition: 0.5s ease-in-out;
    font-family: fontAwesome;
    text-align: center;
    line-height: 120px;
    font-size: 6em;
    color: var(--clr);
}

ul li:hover::before{
    height: 100%;
}
ul li:nth-child(1)::before{
    content: '\f39e';
}
ul li:nth-child(2)::before{
    content: '\f232';
}
ul li:nth-child(3)::before{
    content: '\f16d';
}
ul li:nth-child(4)::before{
    content: '\e61b';
}
ul li:nth-child(5)::before{
    content: '\f167';
}
ul li:nth-child(6)::before{
    content: '\f09b';
}
ul li:nth-child(7)::before{
    content: '\e07b';
}
ul li:nth-child(8)::before{
    content: '\f0e1';
}
ul li:nth-child(9)::before{
    content: '\f2ab';
}
ul li:nth-child(10)::before{
    content: '\f1bc';
}
ul{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo{
    width: 500px;
    margin-top: 100px;
    justify-content: left;
    margin: 70px;
    border-bottom: 5px solid rgb(255, 255, 255);
    gap: 20px;
    color: white;
}
.logo{
    justify-content: right;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
margin-top: -120px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.container .card:hover{
    height: 400px;
}
.container .card .imgBx{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}
.container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content{
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 252px;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .content{
    top: 130px;
    height: 250px;
}
.container .card .content h2{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}
.container .card .content p{
    color: black;
}
.container .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}


















/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
  }